@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #dfc8b8;
  --color-search: rgb(227, 214, 204);
  --background-basket: #f1f1f1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* button {
  all: unset;
}

@font-face {
  font-family: "helvetica";
  src: url("assets/fonts/helvetica-light-587ebe5a59211.ttf");
  /* src: url("fonts/helvetica-light-587ebe5a59211.ttf"); */
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "light";
  /* src: url(Font2/Light.ttf); */
  src: url("assets/fonts2/Light.ttf");
  font-style: normal;
  font-weight: normal;
}

body {
  font-size: "helvetica";
  margin: 0;
}

body > header {
  position: fixed;
  z-index: 10;
  margin: 2rem;
  top: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  transition: all 1s ease;
  background-color: var(--background-color);
  border-radius: 20px 20px;
  box-shadow: 5px 5px 2px 1px #000000;
  & img {
    width: 5rem;
  }
  img:hover {
    transform: scale(1.05);
    transition: all 1s ease;
  }

  & ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.5rem;
    li {
      transition: all 0.2s;
    }
    & a {
      text-decoration: none;
      color: inherit;
      font-weight: 400;
    }
    & svg {
      width: 1.5rem;
      height: auto;
    }
  }
  /* .logo-link {
    z-index: 2;
  }*/
  .menu-btn {
    display: none;
    z-index: 2;
    svg {
      width: 1.5rem;
      height: auto;
    }
  }
  &.sticky {
    background-color: var(--background-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  li:hover {
    color: white;
  }
}

form.example input[type="text"] {
  padding: 2px 2px 2px 7px;
  /* font-size: 17px; */
  border: 0.5px solid grey;
  border-radius: 20px 0px 0px 20px;
  text-align: center;
  float: left;
  width: 70%;
  background: var(--color-search);
}

form.example button {
  float: left;
  width: 20%;
  padding: 2px;
  background: var(--background-color);
  color: grey;
  /* font-size: 17px; */
  border: 0.5px solid grey;
  border-radius: 0px 20px 20px 0;
  border-left: none;
  cursor: pointer;
  text-align: center;
}

form.example button:hover {
  background: var(--background-color);
  color: white;
  transition: all 0.2s;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* header mobiles */
@media (width <= 1024px) {
  body > header {
    height: 3rem;
    img {
      width: 3rem;
    }
    .main-nav {
      position: fixed;
      top: 0;
      right: -50vw;
      background-color: var(--background-color);
      height: 80vh;
      width: 50vw;
      transition: right 0.8s ease;

      ul {
        font-size: 1.5rem;
        flex-direction: column;
        margin-top: 5rem;
        padding: 2rem;
        a {
          font-size: 2rem;
          line-height: 0;
        }
      }
    }
    .menu-btn {
      display: block;
      border: none;
      background-color: transparent;
      font-size: 2rem;
      all: unset;
    }
    .secondary-nav {
      position: fixed;
      top: 80vh;
      right: -50vw;
      width: 50vw;
      height: 20vh;
      background-color: var(--background-color);
      transition: right 0.8s ease;

      ul {
        padding: 2rem;

        svg {
          width: 1.5rem;
          height: auto;
        }
      }
    }
    .logo-link {
      z-index: 2;
    }
    &.sticky {
      padding: 2rem;
    }
    nav {
      transition: left 1s ease;
    }
    nav.open {
      right: 0;
    }
  }
}

/* ---- hero ---- */

.hero {
  position: relative;
  height: 90vh;
  min-height: 640px;
  overflow: auto;
  margin: 0 auto;
  color: white;
  padding-left: 2rem;
  background-image: url(assets/model/imgH.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  & h1 {
    font-size: 4.2em;
    .light {
      font-weight: 200;
    }
  }
  .btn {
    display: inline-flex;
    position: static;
    color: black;
    background-color: rgb(255, 255, 255);
    border: solid, 2px, black;
    padding: 10px 40px;
    margin: 2rem 0;
    border-radius: 15px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    display: flex;
    flex-direction: row;
    box-shadow: 3px 3px 2px black;
    transition: all 0.5s;

    &:hover {
      background-color: var(--background-basket);
      color: black;
      box-shadow: none;
    }
  }
}

/* hero mobiles */

@media (width <= 1024px) {
  .hero {
    text-align: center;
    align-items: center;
    h1 {
      font-size: 3rem;
    }
    a {
      display: flex;
      justify-content: center;
      z-index: 10;
    }
  }
}

/* ---- model ----*/

.model {
  img {
    margin: 4rem auto;
    width: 100%;
  }
}

/* ---- storytelling ---- */

.storytelling {
  padding: 8rem;

  div {
    gap: 3rem;
  }
  h2 {
    font-size: 3rem;
    font-weight: 600;
  }
  h3 {
    padding-top: 1rem;
  }
  hr {
    width: 4rem;
    color: black;
  }
  p {
    font-size: 1rem;
    font-weight: 200;
    text-align: justify;
  }
}

@media (width <= 1024px) {
  .storytelling {
    div {
      display: flex;
      flex-direction: column;
      gap: 0rem;
      line-height: 2rem;

      p {
        margin: 0 1rem;
      }
    }
  }
}

/* ---- vidéo ----- */

.video {
  max-width: 100%;
  /* width: 100rem; */
  height: auto;
  padding: 0;
  margin: 4rem 0 1rem 0;
  right: 0;
}

/* ---- témoignage ---- */

.testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  h3 {
    padding-top: 1rem;
  }
  img {
    margin: 4rem auto;
    width: 100%;
  }
  p {
    width: 100%;
    padding: 2rem;
    font-family: "light";
    font-style: italic;
    font-size: 25px;
    text-align: justify;
  }
}

@media (width <= 1024px) {
  .testimony {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        font-size: 1rem;
      }
      h3 {
        text-align: center;
        p {
          text-align: center;
        }
      }

      img {
        margin: 4rem auto;
        margin-top: 0;

        height: 25rem;
        width: 25rem;
      }
    }
  }
}

/* ----- basket ---- */

.swiper {
  padding-top: 8rem;
}

.slide-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 75px;

  .swiper-pagination-bullet {
    background: black;
    height: 10px;
    width: 10px;
  }

  .swiper-slide-button {
    color: #000000;
    margin-top: -50px;
  }
  .swiper-slide-button:hover {
    color: gray;
  }
}

@media (max-width: 620px) {
  .slide-wrapper {
    margin: 0 10px 40px;
  }

  .swiper-slide-button {
    display: none;
  }
}

.card-list .card-item {
  color: white;
  /* width: 340px; */
  user-select: none;
  padding: 35px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(30px);
  border-radius: 10px;
  background-color: #f1f1f1;
  border: 1px solid rgba(255, 255, 255, 0.5);
  & .shoes-image {
    width: 320px;
    overflow: hidden;
    height: 150px;
    border-radius: 10px 10px;
    margin-bottom: 40px;
    /* border: 3px solid #ffffff; */
    padding: 4px;
  }
  & .message-button {
    position: absolute;
    bottom: 1rem;
    color: black;
    background-color: rgb(255, 255, 255);
    border: solid, 2px, black;
    padding: 10px 40px;
    margin: 0.5rem 0;
    border-radius: 15px 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    font-size: large;
    display: flex;
    box-shadow: 3px 3px 2px black;
    transition: all 0.5s;

    &:hover {
      background-color: var(--background-basket);
      color: black;
      box-shadow: none;
    }
  }
}

/* carousel */

.scenes {
  h2 {
    font-size: 3rem;
    font-weight: 600;
    padding: 8rem 0 0 8rem;
  }
}
.carousel {
  margin: 100px auto;
  width: 90%;
  /* border: 5px solid red; */
  display: flex;
  overflow-x: auto;
  /* gap: 1em; */
}

.carousel::-webkit-scrollbar {
  display: none;
} /*Supprime la barre de défilement (Chrome, Safari…).*/

.group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  animation: spin 20s infinite linear;
  padding-right: 1em;
}

.card {
  flex: 0 0 5em;
  height: 5em;
  padding: 0em;
  overflow: hidden;
  background: cornflowerblue;
  font-size: 3rem;
  border-radius: 0.2em;
  text-align: center;
  align-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  &:hover img {
    transform: scale(1.05);
  }
}

@keyframes spin {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

/* flex-grow flex-shrink flex-basis */

@media (max-width: 1040px) {
  .card {
    flex: 0 0 5em;
    height: 5em;
  }
}
/* ---- contact ---- */
.contact {
  background-color: #1e1e1e;
  color: white;
  opacity: 0.9;
}

.contact h3 {
  margin-bottom: 1rem;
}

.contact ul li a {
  color: white;
  transition: color 0.3s;
}

.contact ul li a:hover {
  color: var(--background-color); /* couleur de survol */
}

.contact ul li {
  list-style: none;
}

@media (max-width: 767px) {
  .contact ul {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .contact .col-md-4 {
    margin-bottom: 2rem;
  }
}
